<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/static/css/phosphophyllite.css" />
    </head>
    <body>
        <!-- <div id="nav">
            <ul>
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
        </div> -->

        {{template "nav.html"}}

        <div class="register-container">
            <div class="wrapper">
                <!--注册表单-->
                <div class="form-container">
                    <h1>Welcome</h1>
                    <form id="register-form" class="form" autocomplete="off">
                        <input
                            type="text"
                            id="username"
                            placeholder="用户名"
                            required
                            minlength="5"
                            maxlength="10"
                        />
                        <br />
                        <input
                            type="password"
                            id="password"
                            placeholder="密码"
                            id="register-password"
                            required
                            minlength="5"
                            maxlength="10"
                        />
                        <br />
                        <input
                            type="password"
                            id="repassword"
                            placeholder="再次输入密码"
                            required
                            minlength="5"
                            maxlength="10"
                        />
                        <br />
                        <button type="submit" id="register">
                            注册
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/js/phosphiphyllite.js"></script>
    </body>
</html>
