/* ul {
    max-width: 20rem;
} */
a:link {
    text-decoration: none;
    color: #000000;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: red;
}

ul {
    list-style-type: none;
}


li {
    max-width: 10rem;
}
#nav {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

#nav-write {
    flex: 1;
}

#nav-write ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav-write li {
    display: flex;
    justify-content: flex-start;
}

#nav-menu {
    flex: 2;
}

#nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-menu li {
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-login {
    flex: 1;
}

#nav-login ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-login li {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 20rem; */
}

.register-container input {
    font-size: 2rem;
    max-width: 20rem;
    /* flex: 1 1 auto; */
}

.register-container button {
    font-size: 1.5rem;
    max-width: 6rem;
    /* flex: 1 1 auto; */
}

.login-container input {
    font-size: 2rem;
    max-width: 20rem;
}

.login-container button {
    font-size: 1.5rem;
    max-width: 6rem;
}